.alice-carousel ul li img{
    padding: 20px;
    max-height: 500px;
    height: auto;
    width: auto;
  }

  h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: rgba(0, 0, 0, 0.87);
  }